@font-face {
 font-family: "Roboto", "Arial", "Helvetica", sans-serif;
 font-size: .95em;
}
body {
 font-family:  "Roboto", "Arial", "Helvetica", sans-serif;
 font-size: .95em;
}
blockquote {
 font-size: .95em;
}@font-face {
 font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}
blockquote {
 font-size: .5em;
}

.widget-about .custom_logo{max-width:7em; margin-left: auto;
}
.custom_logo {
    margin-left: auto;
    max-width: 8em;
}


.empty_margin_home { 
    margin-bottom:2.2cm;
}