<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}' dir='{{ .Site.Language.LanguageDirection | default "auto" }}'>

{{- partial "head/head" . -}}

<body class='{{ partial "header/bodyClasses" . }}'>

  <div class='site'>

    {{- partial "sidebar/sidebar" . -}}

    <div class='main'>

      {{- partial "nav/menus/main" . -}}

      {{- $headerWidgets := .Site.Params.widgets.header -}}
      <div class='header-widgets'>
        <div class='container'>
          {{- if not (eq .Kind "home") -}}
            {{- partial "extras/widget_area" ( dict "Widgets" $headerWidgets "Scope" . ) -}}
          {{- end -}}
        </div>
      </div>

<!-- Original version, includes Name + Description on the Home Site -->
      <!-- <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'>
            {{- if eq .Kind "home" -}}
              <h1 class='site-title title'>{{ .Site.Title }}</h1>
            {{- else -}}
              <p class='site-title title'>{{ .Site.Title }}</p>
            {{- end -}}
            <p class='desc site-desc'>{{ .Site.Params.info.description }}</p>
          </div>
        </div>
      </header>
 -->
      <header id='header' class='header site-header'>
        {{- if not (eq .Kind "home") -}}
          <div class='container sep-after'>
            <div class='header-info'>
              <p class='site-title title'>{{ .Site.Title }}</p>
              <p class='desc site-desc'>{{ .Site.Params.info.description }}</p>
            </div>
          </div>
        {{- else -}}
          <div class='container sep-after'>
            <p style="margin-bottom:3.7cm;"></p>
          </div>
        {{- end -}}
      </header>

      <main id='content'>
